.head  {
  font-size: 55px;
  display:grid;
  border-bottom:4px gray dotted;
  padding:15px;
  /*padding-bottom: 30px;*/
  margin:0;
  grid-template-columns:1fr 1000px 1fr;
}
#title  {
  text-align: center;
}
#leftalign  {
  text-align: left;
}
#rightalign {
  text-align: right;
}
.congratulations  {
  font-size: 60px;
  padding-bottom: 10px;
}
#countdown  {
  display: block;
  text-align: center;
  font-size: 65px;
  padding:60px;
  padding-top: 0px;
}
#emphasize  {
  display: block;
  /*color: blue;*/
  text-align: center;
  font-size:150px;
}
.toolbar  {
  display:grid;
  padding:10px;
  padding-bottom: 60px;
  grid-template-columns: 160px 1fr 180px;
}
.nightmode {
  font-size: 30px;
  border:5px;
  border-radius: 25px;
  color:white;
  background-color: black;
}
.daymode {
  font-size: 30px;
  border:5px;
  border-radius: 25px;
  color:black;
  background-color:white;
}
#infolink {
  font-size:50px;
  padding:15px;
  margin-top: 20px;
  margin-right: 40px;
  color: inherit;
  background-color:inherit;
  border: none;
  text-decoration: none;
  text-align: right;
}
#info {
  margin-top: 100px;
  font-size: 30px;
  padding: 15px;
  margin-left: 20px;
  align-self: flex-end;
}

/*479px maybe*/
@media screen and (max-width: 980px) {
  span  {
    display:block;
  }
  .head  {
    font-size: 140px;
    display:grid;
    border-bottom:4px gray dotted;
    padding:10px;
    /*padding-bottom: 30px;*/
    margin:0;
    grid-template-columns:110px 1fr 110px;
  }
  #title  {
    text-align: center;
  }
  .congratulations  {
    font-size: 40px;
    padding-bottom: 0px;
    visibility: hidden;
  }
  #countdown  {
    display: grid;
    text-align: center;
    font-size: 100px;
    padding:30px;
    margin-top: 90px;
  }
  .timeleft {
    text-align: center;
    font-size: 100px;
    padding:30px;
    margin:0;
  }
  #emphasize  {
    display: grid;
    /*color: blue;*/
    text-align: center;
    margin:40px;
    margin-bottom: 150px;
    font-size:200px;
  }
  .toolbar  {
    display:grid;
    padding:20px;
    grid-template-columns: 240px 1fr 240px;
  }
  .nightmode {
    font-size:40px;
    padding:15px;
    border:10px;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 20px;
    color:white;
    background-color: black;
  }
  .daymode {
    font-size:40px;
    padding:15px;
    border:10px;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 20px;
    color:black;
    background-color:white;
  }
  #infolink {
    font-size:60px;
    padding:15px;
    margin-top: 20px;
    margin-right: 40px;
    color: inherit;
    text-decoration: none;
    text-align: right;
  }
  #info {
    font-size: 70px;
    padding: 15px;
    margin-left: 20px;
    align-self: flex-end;
  }
}
